 /* === photo-gallery === */
.photo-gallery                  {   border: solid 1px rgb(201,201,201);
                                    background-color:rgb(236,235,234);
                                    margin-bottom:1.5em;
                                }
.photo-gallery .tools           {   background-color: rgb(253,253,253);
                                    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ffffff),color-stop(.7, #f0f0f0));
                                    background-image: -moz-linear-gradient(center bottom,#ffffff 70%,#f0f0f0 100%);
                                    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f0f0f0, endColorstr=#ffffff);
                                    ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f0f0f0, endColorstr=#ffffff)";
                                    border-bottom: solid 1px rgb(201,201,201);text-align: right;
                                }
.photo-gallery .image-wrapper   {   padding:.75em; }

.photo-gallery .image-wrapper img{  display:block;max-height:600px;margin:0 auto;max-width:100%;
                                    -webkit-box-shadow:1px 1px 5px rgba(0,0,0,.7);-moz-box-shadow:1px 1px 5px rgba(0,0,0,.7);-o-box-shadow:1px 1px 5px rgba(0,0,0,.7);-ms-box-shadow:1px 1px 5px rgba(0,0,0,.7);box-shadow:1px 1px 5px rgba(0,0,0,.7);
                                }


.tabs .photo-gallery            {   border: none 0px; background-color: transparent; }


.photo-gallery a::selection         {   color:inherit;background-color:transparent;}
/* === THEMING === */
.photo-gallery .tools a             {   background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ffffff),color-stop(1, #f0f0f0));
                                        background-image: -moz-linear-gradient(center bottom,#ffffff 0%,#f0f0f0 100%);
                                        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f0f0f0, endColorstr=#ffffff);
                                        -ms-filter: "progid:DXImageTransform.Mic}rosoft.gradient (GradientType=0, startColorstr=#f0f0f0, endColorstr=#ffffff)";
                                        
                                        padding:0 5px;font-size:11px;line-height:22px;font-weight:bold;display:inline-block;*zoom:1;color:#444;cursor:pointer;
                                    }
.photo-gallery .tools a:hover       {   color:rgb(104,30,0);background:rgba(255,255,255,.5); }
.photo-gallery .tools a:active      {   background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #f0f0f0),color-stop(1, #ffffff));
                                        background-image: -moz-linear-gradient(center bottom,#f0f0f0 0%,#ffffff 100%);
                                        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#f0f0f0);
                                        -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#f0f0f0)";

                                        color:rgb(144,44,7);
                                    }
.photo-gallery .tools a.prev,
.photo-gallery .tools a.next        {   border-left:1px solid rgb(201,201,201); }
.photo-gallery .tools a.lightbox,
.photo-gallery .tools a.slideshow   {   border-right:1px solid rgb(201,201,201);float:left;}
.photo-gallery .tools .slideshow                    {   padding-left:20px;position:relative; }
.photo-gallery .tools .slideshow .ui-icon           {   position:absolute;top:50%;margin-top:-8px;left:3px;height:15px;width:15px;
                                                        background:url(images/ui-icon-slideshow.png) no-repeat 50% 0%; }
.photo-gallery .tools .slideshow:hover .ui-icon     {   background-position:50% 33.333%; }
.photo-gallery .tools .playing .ui-icon             {   background-position:50% 33.333%; }
.photo-gallery .tools .playing:hover .ui-icon       {   background-position:50% 100%; }

/* ====================================================== */
.photo-gallery .thumbs              {   position:relative;padding:0 25px;overflow:hidden;margin:-1px;}
.photo-gallery .thumbs a            {   background-color:White;border:1px solid rgb(201,201,201);cursor:pointer;padding:2px; }
.photo-gallery .thumbs a.slideLeft  {   left:0;z-index:2; }
.photo-gallery .thumbs a.slideRight {   right:0;z-index:2; }
.photo-gallery .thumbs a.slideLeft,
.photo-gallery .thumbs a.slideRight {   line-height:60px;font-size:30px;font-weight:bold;width:20px;position:absolute; }
.photo-gallery .tslider a           {   overflow:hidden;
                                        display:inline-block;vertical-align:bottom;}
.photo-gallery .tslider a.selected  {   border-color:#000;position:relative;background-color:#000; }
.photo-gallery .tslider a img       {   display:block;height:60px;max-width:120px; }


.photo-gallery .thumbs .tslider     {   overflow:hidden;width:999em;position:relative; }
.photo-gallery .thumbs .tslider a   {   display:block;float:left; }

















